body {
    background: none repeat scroll 0 0 #eee;
}

.jumbotron {
    padding: 0;
    background: url("/assets/img/hero_bg.jpg") no-repeat scroll center top #191919;
    margin-top: 51px;
    height: 570px;
}
.navbar {
    padding: 0;
    color: #000;
    margin-bottom: 0;
    min-height: auto;

}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #000 !important;
}

.navbar-header {
    width: auto;
}